body {
  padding-bottom: 300px; /* Ajusta este valor a la altura exacta del footer */
}



#idFin {
  position: relative;
  background-color: #6A1B9A;
  color: white;
  text-align: center;
  width: 100%;
  padding: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  bottom: 0;
  z-index: 1;
  font-size: 15px;
}

  @media (max-width: 768px) {
    #idFin {
        position: relative;
    }
}