#idFin {
    
    position: fixed;
    background-color: #6A1B9A;
    color: white;
    text-align: center;
    width: 100%;
    padding: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    position: fixed;
    bottom: 0;
    z-index: 1;  /* Asegura que el footer no cubra el contenido */
    
  }

  @media (max-width: 768px) {
    #idFin {
        position: relative;
    }
}