body {
    font-family: Arial, sans-serif;
    background-color: #F4F4F4; /* Fondo neutro */
    margin: 0;
    padding: 0;
    color: #333333; /* Texto general */
    display: flex; /* Asegúrate de que el body esté en modo flex para el sidebar */
}

h1 {
    background-color: #B699FF; /* Color principal */
    color: white; /* Texto blanco */
    padding: 20px;
    text-align: center;
}

#sidebar {
    background-color: #B699FF;
    min-width: 200px;
    height: 100vh;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

#sidebar h2 {
    color: white;
    margin-bottom: 30px;
}

#sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s;
}

#sidebar a:hover {
    background-color: #A073E0; /* Color de fondo al pasar el mouse */
}

#main-content {
    flex: 1;
    padding: 20px;
}