body, html{
    height: 100%;
    margin: 0;
    position: relative;
}

body {
    background-color: #6A1B9A; /* Un morado suave y menos saturado */
    color: #FFFFFF; /* Blanco para el texto */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

.clase1{
    
    background-color: #B39DDB; /* Color de fondo oscuro */
    color: white; /* Color del texto */
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 30px; /* Espaciado más generoso */
    height: auto; /* Ajusta la altura automáticamente */
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: space-between; /* Espacia el contenido en los extremos */
    
}

.clase1 a {
    color: white; /* Color de los enlaces */
    text-decoration: none; /* Elimina el subrayado */
    margin: 0 15px; /* Espaciado entre los enlaces */
    font-size: 16px; /* Tamaño de la fuente */
    transition: color 0.3s; /* Transición suave para el cambio de color */
}

.clase1 a:hover {
    color:  #B39DDB; /* Color de los enlaces al pasar el ratón */
}

.header{
    text-align: center;
    color: white;
    padding: 20px;
}

.absolute-image{
    position: absolute;
    left: 20px;
    max-width: 500px;
    height: auto;
}

form {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0; /* Ajustado para eliminar margen extra */
}

.usuario {
    background-color: #B39DDB; /* Un tono lavanda que complementa el fondo */
    color: #212121; /* Un gris oscuro para el texto dentro del formulario */
    padding: 20px; /* Añade un poco de padding para espacio interno */
    border-radius: 10px; /* Redondea más las esquinas para un look más moderno */
    width: 400px; /* Ajusta el ancho para que no sea tan grande en pantallas más grandes */
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-top: 10px; /* Ajusta la posición del formulario */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); /* Añade sombra para dar profundidad */
}

input[type=text], input[type=password] {
    width: 100%; /* Ajusta el ancho de los inputs */
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc; /* Añade borde para mejor visibilidad */
    box-sizing: border-box;
}

input[type=submit] {    
    background-color: #4527A0; /* Un púrpura oscuro para resaltar */
    color: #FFFFFF;
    color: white;
    padding: 10px 10px;
    width: 80%; /* Ajusta el ancho del botón */
    cursor: pointer;
    border-radius: 5px;
    border: 0;
    transition: background-color 0.3s ease; /* Transición para el hover */
}

input[type=submit]:hover {
    background-color: #311B92; /* Un color un poco más oscuro en hover */
}

h1, h2 {
    color: #EDE7F6; /* Un color suave que contrasta con el fondo */
    margin-top: 60px; /* Ajusta este valor según sea necesario */
    text-align: center; /* Centra los títulos */
}

@media (max-width: 768px) {
    .absolute-image {
        max-width: 50%; /* Ajusta el tamaño de la imagen en pantallas más pequeñas */
    }

    .usuario {
        width: 90%; /* Ajusta el ancho del formulario en pantallas más pequeñas */
        padding: 10px; /* Reduce el padding en pantallas más pequeñas */
    }

    input[type=submit] {
        width: 100%; /* Asegura que el botón use el 100% del ancho disponible */
    }
}

